.preview-n-code{
    >.tabs{
        border-bottom: 0px;
    }
    .preview-tab-content{
        background: repeating-conic-gradient(hsla(var(--color-neutral-300), 0.2) 0% 25%, hsla(var(--color-neutral-0), 0.5) 0% 50%) 50% / 20px 20px;
        border: 1px solid hsl(var(--color-neutral-300));
        border-radius: var(--size-1);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--size-4);
        padding: var(--size-4) var(--size-4);
        margin-top: var(--size-1);
        box-sizing: border-box;
        min-height: 80px;
    }

    .code-tab-content{
        margin-top: var(--size-1);
    }
}