@import '../../App.css';

.button{
    outline: 0px;
    cursor: pointer;
}

.button .text-wrapper{
    pointer-events: none;
}

.button:disabled{
    cursor: default;
    background-color: var(--neutral300) !important;
    border: 1px solid var(--neutral400) !important;
    color: var(--neutral400) !important;
}
.button:disabled .button-text .icons-wrapper svg{
    fill: var(--neutral400) !important;
}

.button + .button{
    margin-left: 8px;
}

.button.button-primary{
    border: 1px solid var(--brand300);
    background-color: var(--brand600);
    color: var(--neutral0);
}
.button.button-primary .button-text .icons-wrapper svg{
    fill: var(--neutral0);
}
.button.button-primary:hover:not(:disabled){
    background-color: var(--brand700);
}
.button.button-primary:focus {
    outline: 2px solid var(--brand500);
    outline-offset: 1.5px;
}
.button.button-primary:active {
    background-color: var(--brand800) !important;
}



.button.button-secondary{
    border: 1px solid var(--brand700);
    background-color: transparent;
    color: var(--brand700);
}
.button.button-secondary .button-text .icons-wrapper svg{
    fill: var(--brand700);
}
.button.button-secondary:hover:not(:disabled){
    background-color: var(--brand100);
}
.button.button-secondary:focus {
    outline: 2px solid var(--brand500);
    outline-offset: 1.5px;
}
.button.button-secondary:active{
    background-color: var(--brand200) !important;
}


.button.button-tertiary{
    border: 1px solid var(--neutral600);
    background-color: transparent;
    color: var(--neutral900);
}
.button.button-tertiary .button-text .icons-wrapper svg{
    fill: var(--neutral900);
}
.button.button-tertiary:hover:not(:disabled){
    background-color: var(--neutral200);
}
.button.button-tertiary:focus {
    outline: 2px solid var(--brand500);
    outline-offset: 1.5px;
}
.button.button-tertiary:active{
    background-color: var(--neutral300) !important;
}

.button.button-text{
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--neutral900);
}
.button.button-text .button-text .icons-wrapper svg{
    fill: var(--neutral900);
}
.button.button-text:hover:not(:disabled){
    background-color: var(--neutral200);
} 
.button.button-text:focus{
    outline: 2px solid var(--brand500);
    outline-offset: 1.5px;
}
.button.button-text:active{
    background-color: var(--neutral300) !important;
}