.text-wrapper{
    display: grid;
    grid-template-columns: min-content minmax(0px, 1fr) min-content;
    grid-template-rows: auto;
    align-items: center;
    width: fit-content;
    position: relative;
    outline: 0px; 
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;  
}

.text-icon-left{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    margin-right: 4px;
}
.text-text{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-icon-right{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    display: flex;
    margin-left: 4px;
}

.text-wrapper-has-onclick{
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
}
.text-wrapper-has-onclick:focus{
    outline: 0px;
    text-decoration: underline;
    box-shadow: 0px 0px 2px 2px #E0E7FF;
    border-color: #818CF8;
    
}

.text-wrapper-has-onclick:hover{
    cursor: pointer;
    text-decoration: underline;
}

.text-tooltip-wrapper{
    background-color: white;
    padding: 4px 8px;
    border: 1px solid;
    display: none;
    border-radius: 6px;
    z-index: 10000;
    text-align: start;
    
}

.text-tooltip-wrapper[data-show] {
    display: block;
}
