.text-field{
    overflow: hidden;
    width: 100%;

    +.text-field{
        margin-top: 20px;
    }
}

.text-field-label{
    color: hsl(var(--color-neutral-1100));
    font-size: var(--font-size-regular);
    display: block;
    margin-bottom: 4px;
    font-weight: var(--font-weight-bold);
}

.text-field-label-asteric{
    color: hsl(var(--color-red-700));
}

.text-field-input-container{
    background-color: hsl(var(--color-neutral-0));
    border: 2px solid hsl(var(--color-neutral-300));
    padding: 8px 8px;
    border-radius: 4px;
    display: flex;
    gap: 6px;
    align-items: center;

    >.text-field-prefix-sufix{
        display: block;
        display: flex;
        font-size: var(--font-size-regular);
    }

    >.text-field-prefix-sufix:has(svg){
        font-size: var(--font-size-large);
    }

    >.text-field-input{
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0px 0px;
        font-size: var(--font-size-regular);
        color: hsl(var(--color-neutral-1100));
        flex-grow: 1;
        width: 0px;
    }

    &:has(.text-field-input:focus-visible){
        border: 2px solid hsl(var(--color-blue-800));
    }
}

.text-field-error-message{
    color: hsl(var(--color-red-700));
    font-size: var(--font-size-regular);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
    font-weight: var(--font-weight-regular);
    min-height: var(--font-size-regular);

    >svg{
        min-height: var(--font-size-regular);
        min-width: var(--font-size-regular);
    }
}

.text-field-option-dropdown-menu{
    background-color: hsl(var(--color-neutral-100));
    border: 1px solid hsl(var(--color-neutral-300));
    box-shadow: 0 0 2px hsla(var(--color-neutral-300), 0.9);
    border-radius: 4px;
    padding: 4px 0px;
    overflow: auto;
    z-index: 10;
    max-height: 320px;
    animation: myAnim 0.5s ease 0s 1 normal forwards;

    @keyframes myAnim {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    .text-field-option-dropdown-item-menu{
        // width: 100%;
        max-width: unset;
    }
}
