.preview-box{
    background: repeating-conic-gradient(hsla(var(--color-neutral-300), 0.2) 0% 25%, hsla(var(--color-neutral-0), 0.5) 0% 50%) 50% / 20px 20px;
    border: 1px solid hsl(var(--color-neutral-300));
    border-radius: var(--size-1);
    max-width: 1000px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-4);
    padding: var(--size-4) var(--size-4);
    margin-top: 12px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.component-section+.component-section{
    margin-top: var(--size-10);
}

.props-section{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    margin-left: var(--size-8);
    .props-title{
        display: flex;
        gap: var(--size-4);
        padding-bottom: var(--size-3);
        border-bottom: 1px solid hsl(var(--color-neutral-300));
    }
    
    .props-info-section{
        display: flex;
        color: hsl(var(--color-neutral-1100));
    
        >.title{
            min-width: 120px;
            font-weight: var(--font-weight-bold);
        }
    }

    +.props-section{
        margin-top: calc(var(--size-5) + var(--size-8));
    }
}
