@use '../index';

.text-area-field{
    overflow: hidden;
    width: 100%;

    @include index.field-style;

    .text-area-field-input-container{
        max-height: 320px;
        overflow-y: auto;
        align-items: flex-start;

        textarea{
            background-color: transparent;
            color: hsl(var(--color-neutral-1100));
        }

        .grow-wrap {
            display: grid;
            width: 100%;
            padding: 7px 0px;
            box-sizing: border-box;

            &:has(textarea:focus-visible){
                padding: 6px 0px 6.5px 0px;
            }
        }
        .grow-wrap::after {
            content: attr(data-replicated-value) " ";
            white-space: pre-wrap;
            overflow-wrap: anywhere;
    
            visibility: hidden;
        }
        .grow-wrap > textarea {
            resize: none;
            overflow: hidden;
        }

        .grow-wrap > textarea,
        .grow-wrap::after {
            border: none;
            font: inherit;
            line-height: 20px;
            grid-area: 1 / 1 / 2 / 2;
            white-space: pre-wrap;
            overflow-wrap: anywhere;
        }

        .grow-wrap > textarea{
            padding: 0px;
            &:focus-visible{
                outline: none;
            }
        }
    }
}
