@use '../index';

@mixin selection-field-content-style{
    &:has(.search-container){
        padding-top: 0px;
    }

    .search-container{
        background-color: hsl(var(--color-neutral-100));
        padding: var(--size-4) var(--size-4) var(--size-3) var(--size-4);
        margin-bottom: 2px;

        .field-option-clear-selection{
            border: none;
            font-size: var(--font-size-regular);
            margin-top: var(--size-1);
            padding: 0px;
            color: hsl(var(--color-blue-700));
            cursor: pointer;
            background-color: transparent;

            &:hover{
                text-decoration: underline;
            }

            &:disabled, &.disabled{
                color: hsl(var(--color-neutral-700));
                opacity: 0.4;
                text-decoration: none;
                cursor: default;
            }

            &:focus-visible{
                outline-offset: 1.5px;
                outline: 2px solid hsl(var(--color-blue-800));
            }
        }

        *+.field-option-clear-selection{
            margin-top: var(--size-3)
        }
    }

    .item-selection-container{
        max-height: 240px;
        
        @media screen and (max-width: 767px){
            min-height: 240px;
        }
        @media screen and (max-width: 767px) and (max-height: 400px){
            min-height: 140px;
        }
        flex-grow: 1;
        overflow: auto;

        &:has(.item-selection-empty){
            display: flex;
            align-items: center;
            justify-content: center;

            .item-selection-empty{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: var(--size-4);
                padding: var(--size-10) var(--size-2);;
                >svg{
                    color:hsl(var(--color-blue-700))
                }
                .font-text{
                    color:hsl(var(--color-neutral-700))
                }
            }
        }

        .skeleton-container-options{
            display: flex;
            flex-direction: column;
            gap: 2px;
            .skeleton-option-item{
                height: 40px;
                padding: 0px var(--size-4);
                display: flex;
                align-items: center;
                gap:12px
            }
        }
    }
}

.selection-field{
    overflow: hidden;
    width: 100%;
    
    @include index.field-style;

    .selection-field-input-container{
        @include index.selection-field-input-container-style;

        &.is-show-clear{
            padding-right: 60px;
        }
    }
    .caret-selection{
        position: absolute;
        top:0px;
        right: 9px;
        height: 100%;
        display: flex;
        align-items: center;
        >svg{
            color: hsl(var(--color-neutral-1100));
        }
    }
    
    .clear-button{
        right: 30px
    }
}

.field-option-dropdown{
    @include index.field-style;

    .field-option-dropdown-menu{
        @include selection-field-content-style;
    }
}

.dropdown-menu-selection-mobile-box{
    @include index.dropdown-menu-box-style;

    .dropdown-menu-mobile-content{
        @include selection-field-content-style;

        .search-container{
            padding: var(--size-0) var(--size-4) var(--size-3) var(--size-4);
        }
    }
}

.dropdown-menu-selection-mobile-overlay{
    @include index.dropdown-menu-mobile-overlay-style;
}

