.skeleton{
    height: var(--font-size-regular);
    width: 100%;
    background-color: hsla(var(--color-neutral-300), 0.5);
    animation: shimmer 3s infinite;
    border-radius: var(--size-1);


    @keyframes shimmer{
        0%,
        50%,
        100% {
            opacity: 1;
        }

        25%,
        75% {
            opacity: 0.3;
        }
    }
}