.split-button{
    display: flex;
    align-items: center;
    
    >.split-button-button{
        border-radius: 4px 0px 0px 4px ;
    }
    
    >.dropdown-menu-button{
        border-radius: 0px 4px 4px 0px ;
        border-left: 1px solid;
    }
}

