@import '../../App.css';

.input-checkbox-item{
    background-color: transparent;
    text-align: start;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-checkbox-item + .input-checkbox-item{
    margin-top: 3px;
}

.input-checkbox-item.item-selected:disabled:hover{
    background-color: transparent;
}

.input-checkbox-item > div > .text-wrapper{
    margin-left: 8px;
}

.input-checkbox-item:focus{
    border: 1px solid var(--brand300);
    outline: 3px solid var(--brand200);
    border-radius: 6px;
}

.input-checkbox-item:hover{
    background-color: var(--neutral0)
}

.input-checkbox-item:active{
    background-color: var(--neutral100)
}

.input-checkbox-item:disabled{
    cursor: default;
}

.input-checkbox-item-check-box{
    border: 1px solid;
    padding: 2px;
    border-radius: 4px;
    background-color: white;
}

