.time-picker{
    padding: var(--size-4);
    .time-pick-input{
        display: flex;
        gap: var(--size-2);
        
        .text-field{
            width: 50px;
        }

        .text-field-input{
            font-size: var(--size-5);
            text-align: center;
        }
    }
}