.time-picker{
    
    .time-pick-input{
        display: flex;
        gap: var(--size-2);
        align-items: center;
        
        .text-field{
            width: 50px;
        }

        .text-field-input{
            font-size: var(--size-5);
            text-align: center;
        }
    }
}