.input-datepicker-wrapper{
    display: flex;
}
.input-datepicker-button{
    flex-grow: 1;
    align-items: center;
    border: solid 1px;
    height: 36px;
    flex-grow: 1;
    width: 0px;
    padding: 0px;
    outline: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-datepicker-button-icon{
    pointer-events: none;
    margin-left: 8px;
}


.input-datepicker-dropdown-wrapper{
    background-color: var(--neutral0);
    border: 1px solid var(--neutral400);
    display: none;
    z-index: 10000;
    border-radius: 6px;
    padding: 2.5px 0.5px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-datepicker-dropdown-wrapper[data-show] {
    display: block;
}

/* Start of datepicker component custom styles */
.input-datepicker-dropdown-wrapper .rdp {
    --rdp-cell-size: 30px;
    --rdp-background-color: var(--neutral100);
    --rdp-accent-color: var(--brand400);
}
.input-datepicker-dropdown-wrapper .rdp-table{
    margin-top: 16px;
}
.input-datepicker-dropdown-wrapper .rdp-head_cell{
    font-weight: normal;
    font-size: 14px;
    color: var(--neutral500);
    text-transform:capitalize
}

.input-datepicker-dropdown-wrapper .rdp-cell{
    font-weight: normal;
    font-size: 14px;
    color: var(--neutral900);
    height: 40px;
}

.input-datepicker-dropdown-wrapper .rdp-day_range_middle{
    background-color: var(--brand100);
    color: var(--neutral900);
}

.input-datepicker-dropdown-wrapper .rdp-day_today:not(.rdp-day_outside){
    font-weight: normal;
}

.input-datepicker-dropdown-wrapper .rdp-button:focus-visible{
    border: 1px solid var(--brand300) !important;
    outline: 3px solid var(--brand200);
}

.input-datepicker-dropdown-wrapper .rdp-day_selected:focus-visible{
    border: 1px solid var(--brand300) !important;
    outline: 3px solid var(--brand200);
    outline-offset: 0px;
    z-index: 1;
}

.input-datepicker-dropdown-wrapper .rdp-caption_label{
    font-size: 14px;
    font-weight: normal;
    color: var(--neutral900);
}