@use '../index';

.date-picker-field{
    overflow: hidden;
    width: 100%;    
    
    @include index.field-style;

    .selection-field-input-container{
        @include index.selection-field-input-container-style
    }

    .field-option-dropdown-menu {
        max-height: 400px;
        padding: 8px;
    }
}

.datepicker-mobile-view{
    display: flex;
    align-items: center;
    // height: 276px !important;
    padding: var(--size-2) 0px !important;

    // @media screen and (max-width: 767px) and (max-height: 400px){
    //     .date-picker{
    //         .rdp{
    //             --rdp-cell-size: 36px;
    //             min-height: 276px;
    //             width: 100vw;
    //         }
        
    //         .rdp-month{
    //             display: flex;
    //             align-items: flex-start;
    //             flex-direction: row-reverse;
    //             width: 100%;
    //             justify-content: space-evenly;
    //         }
        
    //         .rdp-table {
    //             max-width: unset;
    //         }
        
    //         .rdp-caption{
    //             width: 210px;
    //         }
    //     }
    // }
}