@use '../index';
@use '../selection-field/styles.scss' as test;

.date-picker-field{
    overflow: hidden;
    width: 100%;    
    
    @include index.field-style;

    .selection-field-input-container{
        @include index.selection-field-input-container-style
    }

    .field-option-dropdown-menu {
        max-height: 400px;
        padding: 8px;
    }
}

.datepicker-mobile-view{
    display: flex;
    align-items: center;
    padding: var(--size-2) 0px !important;
}

.dropdown-menu-selection-mobile-box{
    @include index.dropdown-menu-box-style;

    .dropdown-menu-mobile-content{
        @include test.selection-field-content-style;
    }
}

.dropdown-menu-date-picker-mobile-overlay{
    @include index.dropdown-menu-mobile-overlay-style;
}