@mixin checkboxTableStyle{
    display: flex; 
    justify-content: center;
    padding: 0px; 
    align-items: center;
}

.table{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;

    .table-top{
        display: flex;
        justify-content: flex-end;
        margin-bottom: var(--size-4);
        gap: var(--size-4);
    }

    .table-content{
        flex-grow: 1;
        display: grid;
        grid-template-rows: min-content 1fr;
        overflow-y: hidden;
        overflow-x: auto;

        .table-header{
            background-color: hsla(var(--color-neutral-400), 0.2);
            border-radius: var(--size-1) var(--size-1) 0px 0px;

            .header-cell{
                min-height: 50px;
                padding: var(--size-4) var(--size-3);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: flex;
                align-items: flex-start;

                .header-button{
                    color: hsl(var(--color-neutral-1100));
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    border:none;
                    padding: 0px;
                    text-align: start;
                    height: 100%;

                    &:not(:disabled){
                        cursor: pointer;
                    }

                    &:focus-visible{
                        outline-offset: 1.5px;
                        outline: 2px solid hsl(var(--color-blue-800));
                    }

                    .header-button-caret{
                        margin-left: var(--size-2);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 16px;
                        padding-top: 2px;
                    }
                }

                &.align-right{
                    justify-content: right;
                }
                
                &.header-cell-checkbox{
                    @include checkboxTableStyle
                }
                
            }
        }

        .table-datas{
            overflow-y: auto;
            overflow-x: hidden;
            // scrollbar-gutter: stable;

            .table-data-row{
                display: grid;
                background-color: hsla(var(--color-neutral-100), 0.5);
                border: 2px solid transparent;

                &:hover{
                    background-color: hsla(var(--color-neutral-300), 0.5);
                }

                .data-cell{
                    color: hsl(var(--color-neutral-1100));
                    padding: var(--size-4) var(--size-3);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    
                    &:has(>.pill-flair-pill:first-child){
                        padding-top: var(--size-3);
                    }
                    .cell-text{

                    }

                    &.data-cell-clickable{
                        >*{
                            pointer-events: none;
                        }
                    }

                    .cell-sub-text{
                        font-size: var(--font-size-small);
                        margin-top: var(--size-1);
                        color: hsla(var(--color-neutral-1100), 0.5);
                    }

                    &.header-cell-checkbox{
                        @include checkboxTableStyle
                    }

                    &.align-right{
                        align-items: end;
                    }
                }

                &:focus-visible{
                    border: 2px solid hsl(var(--color-blue-800));
                    outline: 0px;
                }
                
                &.selected-row{
                    background-color: hsla(var(--color-blue-200), 0.2);
                    border-left-color: hsl(var(--color-blue-700));

                    +.row-expandable{
                        background-color: hsla(var(--color-blue-200), 0.4);
                        border-left-color: hsl(var(--color-blue-700));
                    }
                }
            }

            .table-data-row-expandable{
                padding: var(--size-4);
                border-left: 2px solid transparent;
                background-color: hsla(var(--color-neutral-0), 0.9);
            }
        }
    }

    .table-footer{
        display: grid;
        align-items: center;
        background-color: hsla(var(--color-neutral-400), 0.2);
        color: hsl(var(--color-neutral-1100));
        border-radius: 0px 0px var(--size-1) var(--size-1);
        // min-width: $minWidthTable;
        width: 100%;
        overflow: auto;
        grid-template-columns: 1fr 1fr 1fr;
    
        >div{
            padding: 0px var(--size-4);
            min-height: 51.2px;
        }
        
        &.tablet{
            grid-template-columns: 1fr 1fr;
    
            .table-footer-count{
                display: none;
            }
    
            .table-footer-pagination{
                justify-content: flex-start;
            }
        }
    
        &.mobile{
            grid-template-columns: 1fr 1fr;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .table-footer-count{
                display: none;
            }
            .table-footer-pagination{
                justify-content: center;
                width: fit-content;
                gap:var(--size-2)
            }
            // .table-footer-maxrow{
            //     display: none;
            // }
        }
    
        
    
        .table-footer-count{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    
        .table-footer-pagination{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--size-4);
            white-space: nowrap;
        }
    
        .table-footer-maxrow{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--size-2)
        }
    }
}