.button-menu-wrapper{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    outline: 0px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0px;
    align-items: stretch;
    min-height: 40px;
    border-radius: 3px;
    overflow: hidden;
}

.button-menu-wrapper:hover{
    background-color: var(--neutral200);
}
.button-menu-wrapper:focus{
    border-color: var(--brand400);
    outline: 3px solid var(--brand200);
}
.button-menu-wrapper:active{
    background-color: var(--neutral300);
}
.button-menu-wrapper.button-menu-active:active{
    background-color: var(--brand100);
}
.button-menu-wrapper.button-menu-disabled:active{
    background-color: transparent
}

.button-menu-wrapper.button-menu-disabled.button-menu-active{
    background-color: var(--neutral200);
}
.button-menu-wrapper.button-menu-disabled.button-menu-active > .button-menu-indicator{
    background-color: var(--neutral400);
}
.button-menu-wrapper.button-menu-active > .button-menu-indicator{
    background-color: var(--brand500);
}

.button-menu-indicator{
    width: 4px;
}

.button-menu-label-wrapper{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 8px 0px 8px 16px;
    flex-grow: 1;
}

.button-menu-active{
    background-color: var(--brand100);
}
.button-menu-active:hover{
    background-color: var(--brand100);
}

.button-menu-subLabel{
    margin-top: 4px;
}

.button-menu-disabled:hover{
    cursor: default;
    background-color: transparent;
}

.button-menu-icon{
    display: flex;
    align-items: center;
    margin-left: 4px;
    padding: 0px 12px;
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    right: 1px;
    top: 1px;
    height: calc(100% - 2px);
}

.button-menu-icon:focus{
    outline: 3px solid var(--brand200);
}
.button-menu-icon:hover{
    background-color: var(--neutral200);
}
.button-menu-icon:active{
    background-color: var(--neutral300);
}