.detail-template-header{
    background-color: hsl(var(--color-neutral-100));
    padding: calc(var(--size-10) * 2) var(--size-10);

    @media screen and (max-width: 767px){
        padding: calc(var(--size-10) * 2) var(--size-4);
    }

    .detail-template-header-title{
        color: hsl(var(--color-neutral-1100));
        display: block;
        font-size: var(--font-size-largest);
        font-weight: var(--font-weight-bold);
        animation: fadeIn 0.3s ease 0s 1 normal forwards;
    }

    .detail-template-header-subtitle{
        color: hsl(var(--color-neutral-1100));
        display: block;
        margin-top: var(--size-4);
        animation: fadeIn 0.3s ease 0s 1 normal forwards;
    }
}

.detail-template-header:has(+.detail-template-tabs){
    padding-bottom: calc(var(--size-10) * 2 - 40px);
}

.detail-template-tabs{
    position: sticky;
    top:0px;
    z-index: 3;
    background-color: hsl(var(--color-neutral-100));
    min-height: 40px;
    display: flex;
    align-items: end;
    width: 100%;

    >.tabs{
        padding: 0px calc(var(--size-10) - var(--size-2));
        width: 100%;

        @media screen and (max-width: 767px){
            padding: 0px calc(var(--size-4) - var(--size-2));
        }
    }
}

.detail-template-content{
    padding: var(--size-8) var(--size-10);

    @media screen and (max-width: 767px){
        padding: var(--size-8) var(--size-4);
    }

    animation: fadeIn 0.3s ease 0s 1 normal forwards;

    .tab-content{
        animation: fadeIn 0.3s ease 0s 1 normal forwards;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}