.input-select-wrapper{
    display: flex;
}

.input-select-button{
    border: solid 1px;
    height: 36px;
    flex-grow: 1;
    width: 0px;
    padding: 0px;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-select-button-value{
    flex-grow: 1;
    text-align: start;
}

.input-select-button-prefix{
    margin-right: 6px;
}

.input-select-button-prefix > .text-text{
    min-width: max-content;
    overflow-wrap: pre
}

.input-select-button-icon{
    pointer-events: none;
    margin-left: 8px;
}

.input-select-dropdown-wrapper{
    background-color: var(--neutral0);
    border: 1px solid var(--neutral400);
    display: none;
    z-index: 10000;
    border-radius: 6px;
    padding: 2.5px 0.5px;
}

.input-select-dropdown-wrapper[data-show] {
    display: block;
}

.input-select-dropdown-search-bar{
    padding: 8px 12px 8px 12px;
}
.input-select-dropdown-list-wrapper{
    max-height: 180px;
    overflow: auto;
    scroll-snap-type: both proximity;
    padding: 2px;
}

.input-select-dropdown-item{
    background-color: var(--neutra200);
    width: 100%;
    height: 36px;
    padding: 4px 12px;
    text-align: start;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* scroll-snap-align: start; */
    margin-top: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-select-dropdown-item > .icons-wrapper{
    margin-left: 8px;

}

.input-select-dropdown-item:disabled{
    background-color: var(--neutral0);
}
.input-select-dropdown-item:disabled:hover{
    background-color: var(--neutral0);
    cursor: default;
}

.input-select-dropdown-item.item-selected, .input-select-dropdown-item.item-selected:focus, .input-select-dropdown-item.item-selected:hover{
    background-color: var(--brand100);
}

.input-select-dropdown-item:focus{
    border: 1px solid var(--brand300);
    /* box-shadow: 0px 0px 2px 2px var(--brand100); */
    outline: 3px solid var(--brand200);
    border-radius: 6px;
}

.input-select-dropdown-item:hover{
    background-color: var(--neutral100);
}

.input-select-dropdown-spinner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    /* scroll-snap-align: end; */
}

.input-select-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}